<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.biz.ld_quarter_common.mapper.AssessPostConfigMapper">

    <resultMap id="AssessPostConfigResult" type="com.ruoyi.web.controller.biz.ld_quarter_common.domain.AssessPostConfig">
        <id     property="id"         column="id" />
        <result property="type"       column="type" />
        <result property="postCode"   column="post_code" />
        <result property="sortOrder"  column="sort_order" />
        <result property="createBy"   column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="BaseColumnList">
        id, type, post_code, sort_order, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectConfigList" parameterType="AssessPostConfig" resultMap="AssessPostConfigResult">
        SELECT <include refid="BaseColumnList" />
        FROM assess_post_config
        <where>
            <if test="type != null and type != ''">AND type = #{type}</if>
            <if test="postCode != null and postCode != ''">AND post_code = #{postCode}</if>
        </where>
        ORDER BY sort_order ASC
    </select>

    <select id="selectPostCodesByType" parameterType="String" resultType="String">
        SELECT post_code
        FROM assess_post_config
        WHERE type = #{type}
        ORDER BY sort_order ASC
    </select>

</mapper>